.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 20px;
}

.player {
    display: flex;
    justify-content: center;
}

.player img {
    width: 50%;
}

p {
    font-size: 15px;
    font-weight: 800;
}

h1 {
    color: aqua;
    margin-left: 20px;
    font-size: 40px;
}

div header {
    background-color: rgb(243, 50, 156);
}